* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    width: 100%;
    height: 70px;
    background-color: #be3144;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 25px;
}

.nav-links > li > a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 20px;
    padding: 23px;
}

.nav-links > li > a:hover {
    background-color: #45567d;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 50px;
    color: #f0f0f0;
    padding-bottom: 10px;
}

.para {
    color: #be3144;
    font-style: italic;
    font-size: 23px;
}

.projects {
    width: 100%;
    background-color: #45567d;
}

.project-title {
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #f0f0f0;
    text-decoration: underline;
}

.project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin: 0 5%;
    padding-bottom: 30px;
}

.project-img {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.project-link {
    color: #f0f0f0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #233b54;
    border: 1px solid #181719;
    border-radius: 20px;
    white-space: nowrap;
}

.project-link:hover {
    background-color: transparent;
    transform: scale(110%);
}

.contacts {
    display: flex;
    flex-direction: column;
    background-color: #303841;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f0f0f0;
}

.contact-intro > h1 {
    font-size: 35px;
    padding-bottom: 10px;
}

.contact-intro > p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.icons {
    padding: 20px 0 60px 0;
}

.icon {
    padding: 0 20px;
    letter-spacing: 0.15em;
}

.icon:hover {
    transform: scale(120%);
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #303841;
    border-top: 5px solid #be3144;
    padding: 20px 0;
    color: #f0f0f0;
}

.icon-fire {
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .project-section {
        display: flex;
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-left: 10px
    }
}