@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

#main-doc {
    display: flex;
}

.nav-bar {
    width: 27%;
    margin-top: 0;
}

.section-doc {
    flex-grow: 1;
    width: 73%;
    margin: 25px 0;
    margin-left: 10px;
    position: relative;
}

.nav-bar header {
    border-right: 2px solid grey;
    padding: 10px 53px 20px 54px;
    position: fixed;
    text-align: center;
}

.nav-bar ul {
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    position: fixed;
    top: 55px;
    padding-bottom:40px;
    font-size: 1.2rem;
    border-right: 2px solid grey;
}

.nav-bar ul li {
    padding: 20px 10px;
    list-style: none;
    border-top: 1px solid black;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:active {
    color: black;
}

.main-section {
    margin-left: 0;
    line-height: 25px;
}

.main-section header {
    padding: 10px 0;
}

.main-section p {
    padding: 10px 0;
}

.highlight {
    background-color: antiquewhite;
    padding: 10px 5px;
    margin-left: 30px;
    border-radius: 5px;
}

.main-section ul {
    margin-left: 50px;
}

.main-section ul li {
    padding: 10px;
}

@media (max-width: 241px) {
    .nav-bar {
        width: 30%;
      }
    
      .main-section {
        margin-left: 500px;
      }
}

@media (min-width: 242px) and (max-width: 525px) {
    .nav-bar {
        width: 30%;
      }
    
      .main-section {
        margin-left: 300px;
      }
}

@media (min-width: 525px) and (max-width: 800px) {
  .nav-bar {
    width: 30%;
  }

  .main-section {
    margin-left: 150px;
  }
}

@media (min-width: 801px) and (max-width: 1199px) {
  .nav-bar {
    width: 30%;
  }

  .main-section {
    margin-left: 70px;
  }
}