@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */

:root {
    --BGCOLOR: #451952;
    --BGCOLOR1: #662549;
    --FONT_FAMILY: 'Croissant One', cursive;
    --FONT_SIZE: 1.1rem;
    --FONT_COLOR: #AE445A;
    --COLOR: #F39F5A;
    --LETTER_SPACING: 0.05em;
    --LETTER_SPACING1 : 0.25em;
}

/* ||GENERAL STYLE */

html {
    font-family: var(--FONT_FAMILY);
    font-size: var(--FONT_SIZE);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--BGCOLOR);
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--BGCOLOR1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 8px var(--COLOR);
}

/* FORM ELEMENT STYLE */

form h2 {
    color: var(--COLOR);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: var(--LETTER_SPACING);
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-bottom: 40px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--COLOR);
    background: transparent;
    color: var(--COLOR);
    font-size: inherit;
    letter-spacing: var(--LETTER_SPACING);
}

.inputBox input:focus,
.inputBox input:valid {
    border-bottom: 2px solid var(--BGCOLOR);
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    text-transform: uppercase;
}

.inputBox input[type = "submit"] {
    background-color: var(--BGCOLOR);
    border-radius: 50px;
    border: none;
    padding: 15px 0;
    letter-spacing: var(--LETTER_SPACING);
    cursor: pointer;
    transition: 0.5s;   
    text-transform: uppercase; 
}

.inputBox input[type = "submit"]:hover {
    letter-spacing: var(--LETTER_SPACING1);
}

form p {
    color: var(--FONT_COLOR);
}

form p a {
    color: var(--COLOR);
    text-decoration: none;
    font-weight: 500;
}
 
form p a:hover {
    letter-spacing: var(--LETTER_SPACING);
}

